---
name: Docker build
'on':
  pull_request:
  push:
    branches:
      - '**'
      - '!master' 

jobs:

  docker:
    name: Docker Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - filebeat_version: 9.2.3
          - filebeat_version: 8.19.9
          # - filebeat_version: 8.2.0
          # - filebeat_version: 8.1.3
          # - filebeat_version: 8.1.2
          # - filebeat_version: 8.1.1
          # - filebeat_version: 8.1.0
          # - filebeat_version: 8.0.1
          # - filebeat_version: 8.0.0
          # - filebeat_version: 7.17.3
          # - filebeat_version: 7.17.2
          # - filebeat_version: 7.17.1
          # - filebeat_version: 7.17.0
          # - filebeat_version: 7.16.3
          # - filebeat_version: 7.16.2
          # - filebeat_version: 7.16.1
          # - filebeat_version: 7.16.0
          # - filebeat_version: 7.15.2
          # - filebeat_version: 7.15.1
          # - filebeat_version: 7.15.0
          # - filebeat_version: 7.14.2
          # - filebeat_version: 7.14.1
          # - filebeat_version: 7.14.0
          # - filebeat_version: 7.13.4
          # - filebeat_version: 7.13.3
          # - filebeat_version: 7.13.2
          # - filebeat_version: 7.13.1
          # - filebeat_version: 7.13.0
          # - filebeat_version: 7.12.1
          # - filebeat_version: 7.12.0
          # - filebeat_version: 7.11.2
          # - filebeat_version: 7.11.1
          # - filebeat_version: 7.11.0
          # - filebeat_version: 7.10.1
          # - filebeat_version: 7.10.0

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: quay.io/honeynet/filebeat:${{ matrix.filebeat_version }}
          build-args: |
            filebeat_version=${{ matrix.filebeat_version }}
